<mat-grid-list cols="3" rowHeight="2:1">

  <!-- url encode & decode -->
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title class="card-title">url encode & decode</mat-card-title>
      <mat-card-content class="card-context">
        <div style="margin-top: 30px">
          <mat-form-field class="input-field">
            <input class="input" matInput [(ngModel)]="encodeUrl">
          </mat-form-field>
          <mat-button-toggle (click)="encodeURL()">encode</mat-button-toggle>
        </div>
        <div style="margin-top: 30px">
          <mat-form-field class="input-field">
            <input class="input" matInput [(ngModel)]="decodeUrl">
          </mat-form-field>
          <mat-button-toggle (click)="decodeURL()">decode</mat-button-toggle>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--  -->
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title class="card-title"></mat-card-title>
      <mat-card-content class="card-context">
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
